<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
   <div class="form-container">
    <h2>What's new Blog!</h2>
    <form method="post" action="/blogs">
        <input type="text" placeholder="Heading..." name="heading"/>
        <textarea placeholder="Blog..." name="content" rows="10"></textarea>
        <input type="text" placeholder="Creator..." name="creator"/>
        <button type="submit">Create Blog</button>
    </form>
    <form method="get" action="/blogs">
        <button type="submit" class="back-btn">Back</button>
    </form>
</div>

</body>
</html>