<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blog</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <h2>View Full Blog</h2>
    
    <div class="blog-full">
        <h3><%= b_find.heading %></h3>
        <p><%= b_find.content %></p>
        <p class="author">~ <%= b_find.creator %></p>
    </div>

    <form method="get" action="/blogs">
        <button>Back</button>
    </form>
</body>
</html>
